server:
  port: 8761
  tomcat:
    max-http-form-post-size: 10MB
    threads:
      max: 200
      min-spare: 10

spring:
  application:
    name: eureka-server
  profiles:
    active: docker

eureka:
  server:
    enable-self-preservation: false
    eviction-interval-timer-in-ms: 3000
    response-cache-update-interval-ms: 3000
    numOfReplicationRetries: 3
  client:
    register-with-eureka: false
    fetch-registry: false
    service-url:
      defaultZone: http://localhost:8761/eureka/

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus,metrics
  prometheus:
    metrics:
      export:
        enabled: true
  metrics:
    distribution:
      percentiles-histogram:
        '[jvm.memory.usage]': true
  endpoint:
    health:
      show-details: always
